/* variables */
/* maps */
/* extend */
.description {
  display: block;
  font-size: 1rem;
  margin-top: 1.2rem;
  text-transform: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*MEDIA QUERIES*/
@media (min-width: 768px) {
  .container {
    width: 80%;
  }
  .nav-toggle {
    display: none;
  }
  .nav {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    position: relative;
  }
  .nav__list {
    display: flex;
    margin: 0;
  }
  .nav__item {
    margin: 0 0 0 1.5rem;
  }
  .nav__link {
    color: #FFFFFF;
    text-decoration: none;
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .img-box {
    margin-top: 0;
    text-align: right;
  }
  .display-2 {
    font-size: 3.4rem;
  }
  .display-2--description, .description {
    font-size: 1rem;
    display: inline-block;
  }
}
@media (min-width: 1024px) {
  .display-2 {
    font-size: 4.5rem;
  }
  .display-2--description, .description {
    font-size: 1.4rem;
    display: inline-block;
  }
  .nav__link--button {
    display: block;
  }
}
body {
  font-family: "Poppins", sans-serif;
}



img,
svg {
  vertical-align: middle;
}

.container {
  width: 95%;
  max-width: 1320px;
  margin: 0 auto;
}

.intro-section {
  background: linear-gradient(to right, #040404, #090909);
  padding: 8rem 0 0 0;
  height: 100%;
  width: 100%;
}

.intro-section--contacto{
  background: white;
  padding: 8rem 0 0 0;
  height: 100%;
  width: 100%;
}

.animate__animated.animate__bounce {
  --animate-duration: 3s;
}

.display-2 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
}

.display-2-contacto {
  margin-bottom: 1rem;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: 300;
}

.display-2--intro {
  display: inline-block;
  font-weight: 700;
}

.display-2-intro-contacto {
  color: rgb(3, 3, 3);
  font-weight: 700;
  display: inline-block;
}


.img-box {
  margin-top: 2rem;
  text-align: center;
}

.img-box img {
  animation: from-right 1.5s ease;
}

.download {
  padding: 0 0 5rem 0;
}

.download__title {
  text-align: center;
  margin-bottom: 1rem;
}

.download__logo-box {
  margin-bottom: 2rem;
  padding: 0.5rem;
  text-align: center;
}

header {
  background: linear-gradient(to right, #010101, #000000);
  padding: 0.5rem 0;
}
header:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
}

.col {
  width: 100%;
}

.heading-line::before {
  content: "";
  width: 10rem;
  height: 0.2rem;
  display: block;
  margin: 0 auto;
  background-color: black;
  /*ANIMACION APARECER DESDE LA DERECHA*/
}
.heading-line::before .heading-line--download {
  margin-bottom: 3rem;
}
.heading-line::before .nav {
  width: 100%;
  visibility: hidden;
  height: 0;
  position: absolute;
  font-size: 1rem;
}
.heading-line::before .nav-toggle {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 3rem;
  height: 3rem;
  padding: 0em;
  border-radius: 0.25rem;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.55);
  transition: opacity 250ms ease;
  position: absolute;
  left: 0;
}
.heading-line::before .nav-toggle:focus,
.heading-line::before .nav-toggle:hover {
  opacity: 0.75;
}
.heading-line::before .hamburger {
  width: 50%;
  position: relative;
}
.heading-line::before .hamburger,
.heading-line::before .hamburger::before,
.heading-line::before .hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}
.heading-line::before .hamburger::before,
.heading-line::before .hamburger::after {
  content: "";
  width: 100%;
}
.heading-line::before .hamburger::before {
  transform: translateY(-6px);
}
.heading-line::before .hamburger::after {
  transform: translateY(3px);
}
.heading-line::before .nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}
.heading-line::before .nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.heading-line::before .nav__list--primary {
  margin-bottom: 2rem;
}
.heading-line::before .nav__item {
  margin-top: 0.75rem;
}
.heading-line::before .nav__link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
.heading-line::before .nav__link:hover,
.heading-line::before .nav__link:focus {
  opacity: 0.65;
}
.heading-line::before .logo {
  margin-right: 1rem;
}
.heading-line::before .nav__link--button {
  display: none;
  position: relative;
  background: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.93rem 3.3rem 0.93rem 1.2rem;
  font-weight: 700;
  border: 0.1rem solid white;
  border-radius: 50rem;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s;
}
.heading-line::before .nav__link--button span {
  position: absolute;
  background-color: red;
  width: 2.5rem;
  height: 2.5rem;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  border-radius: 50%;
}
.heading-line::before .nav__link--button span i {
  color: white;
  font-size: 1rem;
  line-height: 2.5rem;
}
.heading-line::before .nav__link--button:hover {
  color: white;
}
.heading-line::before .nav__link--button:hover span {
  background-color: black, 0.6;
}
.heading-line::before .nav__link--button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: linear-gradient(to right, #080908, #020202);
  z-index: -1;
  border-radius: 0 0 50% 50%;
  transition: all 0.5s;
}
.heading-line::before .nav__link--button:hover:before {
  height: 190%;
}
@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/*ESTILOS FOOTER*/
.footer {
  padding-top: 1rem;
  background-color: black;
}

.footer-sm {
  background-color: #212121;
  color: white;
}

.footer-sm a {
  color: white;
}

.footer-sm a i {
  font-size: 1rem;
  margin-left: 1rem;
}

.footer-sm__icons {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin: 0 auto;
}

.footer-bottom {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.footer-bottom__copyright {
  justify-content: center;
  text-align: center;
  color: gray;
  font-weight: 400;
}

.footer-bottom__copyright a {
  color: gray;
  text-decoration: none;
}

.footer-bottom__copyright a:hover {
  color: #e70d0d;
  text-decoration: underline;
}
/* contactos */
label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
}
 
.principal {
    display:block;
    margin:0 auto;
    width:510px;
    color: #666666;
    font-family:Arial;
}
 
form {
    margin:0 auto;
    width:400px;
}
 
input, textarea {
    width:380px;
    height:27px;
    background:#666666;
    border:2px solid #f6f6f6;
    padding:10px;
    margin-top:5px;
    font-size:10px;
    color:#ffffff;
}
 
textarea {
    height:150px;
}
 
#submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}
/*# sourceMappingURL=custom.css.map */
