header {
  background: black;
  padding: 0.5rem 0;
}
header:hover {
  box-shadow: 0 0.5rem 1rem rgba(207, 4, 4, 0.15);
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
}

.nav-pills .nav-link.active {
  color: #f6f6f6;
  background-color: transparent;
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: #ffffff;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.nav-link:hover {
  color: #e70d0d;
}

.heading-line::before {
  content: "";
  width: 10rem;
  height: 0.2rem;
  display: block;
  margin: 0 auto;
  background-color: black;
}

/*ANIMACION APARECER DESDE LA DERECHA*/

@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
